

#navbar {
    flex-direction: column;
    /* overflow: hidden; */
}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#navbar ul li {
    padding: 0.2rem;
}

#navbar ul li a {
    padding: 0.5rem;
    margin: 0px 0px;
    border: 2px solid white;
    border-radius: 20px;
}

.primary {
    font-size: 1.8rem;
    padding: 0px 0px;
}

#type h1{
    font-size: xx-large;
}

#rock h1{
    font-size: xx-large;
}

#oder h1{
    font-size: xx-large;
}
/* types of books section  */
#typeofbooks {
    flex-direction: column;
}

.box img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

/* sucess stories section  */
.peoples {
    flex-wrap: wrap;
}

.abc img{
    height: 300px;
    width: 300px;
}
